<header id="header">
  <div class="c">
    <div class="holder">
      <strong class="logo">
        <a href="/" title="EveryWorldCity.com">Every World City</a>      
      </strong>
      <span class="city-name"><%= @city.city %> / <%= @city.country %></span>
      <form action="" role="form" class="select-form">
        <fieldset>
          <label for="select-beast" class="sr-only">Country:</label>
          <select id="select-country">
            <option value="" disabled selected>Select country...</option>
              <% @countries.each do |country| %>
                <option value="<%= country %>"><%= country %></option>
            <% end %>
          </select>
          <label for="select-beast" class="sr-only">City:</label>
          <select id="select-city">
            <option value="">Pick a city...</option>
          </select>
        </fieldset>
      </form><!-- / select-form -->
      <span id="toggle-search" class="icon-search"></span>
    </div>
  </div>
</header><!-- / header -->
<section class="section" id="gallery">
  <div class="holder">
    <h1><%= @city.city %> / <span><%= @city.country %></span></h1>
    <!-- Twitter Post the page-->
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="I liked this city!" data-via="everyworldcity" data-hashtags="everyworldcity,travel">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    <div id="photos-panoramio"></div>
    <p class="copyright"><%= image_tag 'logo-panoramio.png' %> Photos are copyrighted by their owners</p>
  </div>
</section><!-- / gallery section -->
<section class="section" id="about">
  <div class="wrapper">
    <div class="holder">
      <h2>Info About <%= @city.city %>:</h2>
      <div class="hold">
        <article>
          <p><%= truncate_html(@city.description, length: 1300, omission: '...').html_safe %><small>* material from wiki</small></p>
          <%= link_to "Read full Wiki article", @wiki_url, :target => "_blank", :class => "btn" %>
        </article>
        <aside class="map-holder">          
          <div id="map_canvas">
            <%= image_tag(@staticmap_url) %> 
          </div>
          <div class="maps-tip">
          <%= link_to("go to Google maps", @googlemap_url, :target => "_blank") %>
          </div>
        </aside>          
      </div>
    </div>
  </div>
</section><!-- / gallery section -->
<section class="section" id="info">
  <div class="wrapper">
    <div class="holder">
      <h2>And now a few words about:</h2>
      <div class="hold">
        <article class="box">
          <h3><span class="icon-target"></span>Our goals</h3>
          <p>There are a lot of cities all over the world, which we don't know at all. That's why we have decided to create twitter account EveryWorldCity, following it you will have an opportunity to learn a new city every day - review photos, explore map, read interesting facts.
  Probably namely here you will inspire to a new adventure.</p>
        </article><!-- box -->
        <article class="box">
          <h3><span class="icon-gears"></span>Resource Info</h3>
          <p>The Data Base has already 10529 cities and it is expanding dynamically. All descriptions and photos for twitter posts were found / gathered with Wikipedia API's help. Based on Panoramio Rest API we prepare the most popular photos for each city. 
  <% "The twitter bot posts 2/3 tweets with new random city every day. The map uses Google's Static Map API. You can found codebase on github by url: ... " %></p>
        </article><!-- box -->
        <article class="box">
          <h3><span class="icon-group"></span>Follow us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <!-- Twitter Follow us -->
          <a href="https://twitter.com/everyworldcity" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @everyworldcity</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </article><!-- box -->
      </div>
    </div>
  </div>
</section><!-- / about-section -->
<nav id="nav">
<ul>
    <li><a href="#gallery">Photos</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#info">Info</a></li>
</ul>
</nav><!-- / nav -->
<a class="sr-only" href="#gallery">Skip to main content</a>
<% if flash[:notice] %>
  <div class="ribbon"><p><%= flash[:notice] %></p></div>
<% end %>

<script type="text/javascript">
  var latitude = <%= @city.latitude %>
  var longitude = <%= @city.longitude %>
</script>