<% content_for :head do %>
  <meta property="og:title" content="<%= @city.city %> / <%= @city.country %>" />
<% end %>
<section class="section" id="gallery">
  <div class="holder">
    <div class="hold">
      <h1><%= @city.city %> / <span><%= @city.country %></span></h1>
      <div class="socials-btn">
        <!-- Twitter Post the page-->
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="I liked this city!" data-via="everyworldcity" data-hashtags="everyworldcity,travel"></a>
        <!-- Facebook Button-->
        <div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
      </div>
    </div>
    <div id="photos-panoramio" class="loading owl-carousel"></div>
    <p class="copyright"><%= image_tag 'logo-panoramio.png' %> Photos are copyrighted by their owners.</p>
    <% if flash[:notice] %>
    <div class="ribbon"><p><%= flash[:notice] %></p></div>
    <% end %>
  </div>
</section><!-- / gallery section -->
<section class="section" id="about">
  <div class="holder">
    <h2>About <%= @city.city %></h2>
    <div class="hold">
      <article>
        <p><%= truncate_html(@city.description, length: 1000, omission: '...').html_safe %><small class="alt">* material from wikipedia.org</small></p>
        <%= link_to "Read full Wiki article", @wiki_url, :target => "_blank", :class => "btn" %>
      </article>
      <aside class="map-holder">
        <div id="map_canvas">
         <%= link_to(image_tag(@staticmap_url, :alt => "logo", :title => "Home"), @googlemap_url, :target => "_blank") %>
        </div>
        <div class="maps-tip">go to Google maps</div>
      </aside>
    </div>
  </div>
</section><!-- / gallery section -->
<a class="sr-only" href="#gallery">Skip to main content</a>
<script type="text/javascript">
  var latitude = <%= @city.latitude %>
  var longitude = <%= @city.longitude %>
</script>
