<!DOCTYPE html>
<html>
<!--[if lt IE 9]><html class="ie8"><![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="copyright" content="everyworldcity.com" />
  <meta name="keywords" content="every world city, world, traveling, exploring, map, travel, explore the world, city, photo, hobby, discover, twitter, everyworldcity.com" />
  <meta name="page-topic" content="travelling" />
  <meta name="audience" content="All" />
  <meta name="content-language" content="EN" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="revisit-after" content="1 days" />
  <meta name="description" content="Find and learn a lot of cities all around the world with EveryWorldCity.com. Following us you will have an opportunity to learn new cities every day - view photos, explore maps, read interesting facts." />
  <% #Adding meta tags from view %>
  <% if content_for?(:head) %>
  <%= yield(:head) %>
  <% end %>
  <title>EveryWorldCity</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,500italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="page">
    <noscript>Your browser's Javascript option is turned off. To see all features on this page we would like to ask you to turn it on.</noscript>
    <header id="header">
      <div class="c">
        <div class="holder">
          <strong class="logo">
            <a href="/" title="EveryWorldCity.com">Every World City</a>
          </strong>
          <% if @city %>
            <span class="city-name"><%= @city.city %> / <%= @city.country %></span>
          <% end %>
          <form action="" role="form" class="select-form">
            <fieldset>
              <label for="select-beast" class="sr-only">Country:</label>
              <select id="select-country">
                <% if @city %>
                  <option value="<%= @city.country %>" selected><%= @city.country %></option>
                <% end %>
                <% @countries.each do |country| %>
                  <option value="<%= country %>"><%= country %></option>
                <% end %>
              </select>
              <label for="select-beast" class="sr-only">City:</label>
              <select id="select-city">
                <option value="">Pick a city...</option>
              </select>
            </fieldset>
          </form><!-- / select-form -->
          <span id="toggle-search" class="icon-search"></span>
        </div>
      </div>
    </header><!-- / header -->
    <%= yield %>
    <section class="section" id="info">
      <div class="holder">
        <h2>And now a few words about</h2>
        <div class="hold">
          <article class="box">
            <h3><span class="icon-target"></span>Our goals</h3>
            <p>There are a lot of cities all over the world, which we don't know at all. That's why we have decided to create this site and  twitter account EveryWorldCity, following it you will have an opportunity to learn new cities every day - review photos, explore map, read interesting facts.
    Probably namely here you will be inspired to a new adventure.</p>
          </article><!-- box -->
          <article class="box">
            <h3><span class="icon-gears"></span>Resource Info</h3>
            <p>The Data Base has already <%= @city_count %> cities and it is expanding dynamically. All descriptions and photos for twitter posts were found/gathered with Wikipedia API's help. Based on Panoramio Rest API we prepare the most popular photos for each city. The map uses Google's Static Map API. Every day the new random city will be tweeted via Ruby script and Twitter API.</p>
            <a href="https://github.com/Skai/EveryWorldCity" target="_blank" class="github">gitHub</a>
          </article><!-- box -->
          <article class="box">
            <h3><span class="icon-group"></span>Follow us</h3>
            <p>We are the couple of Web-developers. All our spare time we spend on rock climbing, active rest and travelling. We are keen on discovering new places, that's why this resource has been developed. Follow us and explore the World with us!</p>
            <!-- Twitter Follow us -->
            <a href="https://twitter.com/everyworldcity" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @everyworldcity</a>
          </article><!-- box -->
        </div>
      </div>
    </section><!-- / about-section -->
    <footer id="footer">
      <div class="holder">
        <p>&copy; EveryWorldCity 2014</p>
        <a href="" id='contact-button' class="open-qbox">Don't fear - contact us!</a>
        <a href='https://twitter.com/everyworldcity' target="_blank" id='twitter-account'>Go To Our Twitter</a>
      </div>
    </footer><!-- / footer -->
    <div id="contact"></div>
    <a href="http://www.freepik.com/free-vector/american-cities-vector-silhouettes_721556.htm" class="sr-only">City Skyline is designed by Freepik</a>
  </div><!-- / page -->
</body>
</html>
