<!DOCTYPE html>
<html>
<!--[if lt IE 9]><html class="ie8"><![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="copyright" content="everyworldcity.com" />
  <meta name="keywords" content="every world city, world, traveling, exploring, map, travel, explore the world, city, photo, hobby, discover, twitter, everyworldcity.com" />
  <meta name="page-topic" content="travelling" />
  <meta name="audience" content="All" />
  <meta name="content-language" content="EN" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="revisit-after" content="1 days" />
  <meta name="description" content="Find a lot of new cities all around the world with EveryWorldCity.com. Following us you will have an opportunity to learn new cities every day - view photos, explore maps, read interesting facts. Let's go traveling!" />

  <% #Adding meta tags from view %>
  <% if content_for?(:head) %>
  <%= yield(:head) %>
  <% end %>
  <title>EveryWorldCity</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Fira+Sans:400,500,700,400italic,500italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="fb-root"></div>
  <div class="page">
    <noscript>Your browser's Javascript option is turned off. To see all features on this page we would like to ask you to turn it on.</noscript>
    <%= yield %>
    <footer id="footer">
      <div class="holder">
        <p>&copy; EveryWorldCity <%= Time.now.year %></p>
        <a href="" id='contact-button' class="open-qbox">Don't fear - contact us!</a>
        <a href='https://twitter.com/everyworldcity' target="_blank" id='twitter-account'>Go To Our Twitter</a>
      </div>
    </footer><!-- / footer -->
    <div id="contact"></div>
    <a href="http://www.freepik.com/free-vector/american-cities-vector-silhouettes_721556.htm" class="sr-only">City Skyline is designed by Freepik</a>
  </div><!-- / page -->
</body>
</html>
